.calculator-grid {
    display: grid;
    justify-content: start;
    align-content: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
	width: 100%;
    }

    .calculator-grid > button {
      cursor: pointer;
      font-size: 2rem;
      border: 1px, solid #FFFFFF;
      outline: none;
      background-color: rbga(255, 255, 255, 0.75);
    }

	.calculator-grid > button:hover {
	background-color: #949292;
	}

	.span-two_AC {
	grid-column: span 2;
	color: #ffffff;
	background-color: rgba(255, 0, 0, 0.8);
	}
	.span-two_equal {
	grid-column: span 2;
	color: #ffffff;
	background-color: rgba(0, 255, 0, 0.8);
	}

	.output{
	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
	}

	.output .previous-operand{
	color: rgba(255,255, 255, 0.75);
	font-size: 1.5rem;
	}

	.output .current-operand{
	color: white;
	font-size: 2.5rem;
	}