<!-- FOOTER -->

<footer id="footer" class="bg-blue text-light pt-4 mt-5">
  <!-- <div class="section-divider bg-light">
    <div class="down bg-blue"></div>
  </div> -->
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12 col-lg-5">
        <a href="#"
          ><img
            src="images/sorsogon-logo.png"
            alt="logo"
            class="logo d-block mx-auto"
          />
          <h3 class="brand-name">SORSOGON CITY</h3></a
        >
      </div>
      <div class="col-md-6 col-lg-3">
        <a href="#"
          ><h5 class="mt-3 mb-3 text-uppercase font-weight-bold">
            Quick Links
          </h5></a
        >
        <a href="#"><p>Home</p></a>
        <a href="pages/about.html"><p>About</p></a>
        <a href="pages/contactUs.html"> <p>Contact us</p></a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="#"
          ><h5 class="mt-3 mb-3 text-uppercase font-weight-bold text-light">
            Social Link
          </h5></a
        >
        <a href="#"><i class="p-2 font-size-xl fab fa-facebook-f"></i></a>
        <a href="#"><i class="p-2 font-size-xl fab fa-instagram"></i></a>
        <a href="#"><i class="p-2 font-size-xl fab fa-youtube"></i></a>
        <a href="#"><i class="p-2 font-size-xl fab fa-twitter"></i></a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row text-light">
      <div class="col-12 text-center">
        <hr />
        <p>
          <small
            >WD20P SOFTWARECHASER - Mini Proj1A | Christian Lacaste 2022</small
          >
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- END OF FOOTER -->
