<!-- NAV BAR -->
<header id="hero">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light navbar-font">
      <a class="navbar-brand font-pt text-white" href="../../index.html">
        <img
          src="../../assets/images/sorsogon-logo.png"
          alt="logo pic"
          class="logo"
        />
        <h1 class="d-inline">
          <span class="brand-name d-none d-md-inline">SORSOGON CITY</span>
        </h1>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="../../index.html"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="../../pages/about.html">About</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-white"
              data-toggle="dropdown"
              href="#"
              >Tourism</a
            >
            <div class="dropdown-menu">
              <a
                class="dropdown-item"
                href="../../pages/tourism/Festivals-Events.html"
                >Festivals & Events</a
              >
              <a
                class="dropdown-item"
                href="../../pages/tourism/Accomodations-Lodging.html"
                >Accomodations/Lodging</a
              >
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="../../pages/projects/news.html"
              >News</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-white"
              data-toggle="dropdown"
              href="#"
              >Services</a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" href="../../pages/service/taxes.html"
                >Taxes</a
              >

              <a
                class="dropdown-item"
                href="../../pages/service/permits-licenses.html"
                >Permits and Licenses</a
              >
              <a
                class="dropdown-item"
                href="../../pages/service/social-welfare.html"
                >Social Welfare</a
              >
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="../../pages/contactUs.html"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div id="header-banner" class="container-fluid opacity-1">
    <div class="row bg-dark">
      <div class="col-12 p-4 text-center">
        <h1 class="head-text text-uppercase"><span id="text-banner"></span></h1>
      </div>
    </div>
  </div>
</header>
<!--END NAV BAR -->
